name: .NET

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: List directory contents
      run: ls -R app/

    - name: Restore Console App
      run: dotnet restore app/CalculateShortestPath/CalculateShortestPath.csproj

    - name: Restore Tests
      run: dotnet restore app/CalculateShortestPath/CalculateShortestPath.Tests/CalculateShortestPath.Tests.csproj

    - name: Build
      run: dotnet build app/CalculateShortestPath/CalculateShortestPath.Tests/CalculateShortestPath.Tests.csproj --no-restore

    - name: Test
      run: dotnet test app/CalculateShortestPath/CalculateShortestPath.Tests/CalculateShortestPath.Tests.csproj --no-build --verbosity normal
